.educationForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.educationForm > .group {
  display: flex;
  gap: 1rem;
}
.educationForm > .group > div {
  flex: 1;
}

.educationForm label {
  display: block;
  font-weight: bold;
  margin: 0 0 4px 8px;
}

.educationForm input,
.educationForm textarea {
  display: block;
  width: 100%;
  border: none;
  box-shadow: none;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(218, 218, 218, 0.5);
  transition: box-shadow 250ms;
}

.educationForm textarea {
  resize: vertical;
}

.educationForm input:focus,
.educationForm textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 162, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
}
