* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.grabbing * {
  cursor: grabbing !important;
}

@media print {
  @page {
    margin: 4rem;
  }

  .header,
  .footer,
  .inputContainer {
    display: none;
  }

  .main {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
  }

  .livePreview {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: unset;
    print-color-adjust: exact;
  }
}
