.personalInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personalInfo .name {
  font-size: 2rem;
  font-weight: bold;
}

.personalInfo .title {
  font-size: 1.3rem;
  font-weight: bold;
}

.personalInfo > .right > * {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  font-size: 0.8rem;
}
