.workInfoEntry {
  font-size: 0.9rem;
}

.workInfoEntry > .title {
  font-weight: bold;
}

.workInfoEntry > .details {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  margin-bottom: 4px;
}

.workInfoEntry > .summary {
  font-size: 0.8rem;
}
